$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "loader.css";

.users-list-component {
  padding: 20px 0;
}

.jumbotron {
  margin-top: 20px;
  text-align: center;
}

.sort-ctrl {
  cursor: pointer;
}

.users-filters-search-btn, .users-filters-reset-btn {
  width: 49%;
}

.users-filters-search-btn {
  float: left;
}

.users-filters-reset-btn {
  float: right;
}

.text-center {
  text-align: center;
}

.auth-error-msg {
  text-align: center;
  color: $brand-danger;
}

.logged-user-section {
  .full-name {
    margin: 0 5px;
    font-weight: bold;
  }
  .rounded-circle {
    @include size(35px);
  }
}
