$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "loader.css";

.users-list-component {
  padding: 20px 0;
}

.jumbotron {
  margin-top: 20px;
  text-align: center;
}

.sort-ctrl {
  cursor: pointer;
}

.users-filters-search-btn, .users-filters-reset-btn {
  width: 49%;
}

.users-filters-search-btn {
  float: left;
}

.users-filters-reset-btn {
  float: right;
}

.text-center {
  text-align: center;
}

.auth-error-msg {
  text-align: center;
  color: $brand-danger;
}

.logged-user-section {
  .full-name {
    margin: 0 5px;
    font-weight: bold;
  }
  .rounded-circle {
    @include size(35px);
  }
}

.user-card {
  padding: 20px 0;
  font-size: 16px;

  .actions-row {
    padding: 10px 0;
  }
}

.user-edit-form {
  padding: 20px 0;
}

.pointer {
  cursor: pointer;
}

.users-bar-chart, .users-line-chart, .users-pie-chart {
  position: relative;
  height: 335px;
}

.users-bar-chart {
  rect {
    cursor: pointer;
    fill: steelblue;
  }

  rect:hover {
    fill: orange;
  }
}

.users-line-chart {
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .line-point {
    cursor: pointer;
    fill: steelblue;
    stroke: steelblue;

    &:hover {
      fill: orange;
    }
  }
}

.users-pie-chart {
  margin-top: 20px;

  .arc path {
    cursor: pointer;

    &:hover {
      fill: orange !important;
    }
  }
}

.d3-tooltip {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 60px;
  height: 34px;
  padding: 2px;
  font: 12px sans-serif;
  overflow: hidden;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
