$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "loader.css";

.users-list-component {
  padding: 20px 0;
}

.jumbotron {
  margin-top: 20px;
  text-align: center;
}

.sort-ctrl {
  cursor: pointer;
}

.users-filters-search-btn, .users-filters-reset-btn {
  width: 49%;
}

.users-filters-search-btn {
  float: left;
}

.users-filters-reset-btn {
  float: right;
}
